@font-face {
    font-family: Aeonik;
    src: local("Aeonik"), url("@/fonts/Aeonik-Regular.otf") format("opentype");
}
@font-face {
    font-family: Aeonik;
    font-style: italic;
    src: local("Aeonik"), url("@/fonts/Aeonik-RegularItalic.otf") format("opentype");
}

@font-face {
    font-family: Aeonik;
    font-weight: bold;
    src: local("Aeonik"), url("@/fonts/Aeonik-Bold.otf") format("opentype");
}

@font-face {
    font-family: Aeonik;
    font-style: italic;
    font-weight: bold;
    src: local("Aeonik"), url("@/fonts/Aeonik-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: Aeonik;
    font-weight: 300;
    src: local("Aeonik"), url("@/fonts/Aeonik-Light.otf") format("opentype");
}
@font-face {
    font-family: Aeonik;
    font-weight: 300;
    font-style: italic;
    src: local("Aeonik"), url("@/fonts/Aeonik-LightItalic.otf") format("opentype");
}

.reveal {
    font-weight: 300;
}

:root {
    --r-main-font: Aeonik;
    --r-heading-font: Aeonik;
}
